BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 16px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px; FONT-FAMILY: "ו", Verdana, Arial, Helvetica, sans-serif
}
A {
	COLOR: #003399; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ea6c51; TEXT-DECORATION: underline
}
.quan {
	CLEAR: both; MARGIN: auto; WIDTH: 100%
}
.tou {
	BORDER-BOTTOM: #f2f2f2 20px solid; HEIGHT: 80px; BACKGROUND-COLOR: #cc0000
}
.logo {
	PADDING-TOP: 15px
}
.neirong {
	BORDER-TOP: #999999 1px solid; WIDTH: 100%
}
.neirong .zuo {
	BACKGROUND-POSITION: right center; FLOAT: left; BACKGROUND-IMAGE: url(img/bian.gif); WIDTH: 210px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 634px
}
.neirong .zuo #biaotou {
	MARGIN-TOP: 50px
}
.neirong .zuo LI {
	DISPLAY: block; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px 3px 0px 0px; WIDTH: 160px; PADDING-TOP: 10px; BORDER-BOTTOM: #eaeaea 1px solid; TEXT-ALIGN: right
}
.neirong .zuo LI A {
	FONT-WEIGHT: bold; COLOR: #333333
}
.neirong .zuo LI.x {
	BACKGROUND-POSITION: 80px 3px; MARGIN-TOP: -1px; BACKGROUND-IMAGE: url(img/jian.gif); BORDER-LEFT: #cc0001 5px solid; WIDTH: 154px; BACKGROUND-REPEAT: no-repeat
}
.neirong .zuo LI.x A {
	COLOR: #cc0001; MARGIN-RIGHT: 85px
}
.neirong .you {
	FLOAT: left; WIDTH: 750px
}
.neirong .you .dao {
	BACKGROUND-POSITION: left 50%; MARGIN-TOP: 10px; BACKGROUND-IMAGE: url(img/kinjo.gif); MARGIN-LEFT: 5px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 69px
}
.neirong .you .dao LI {
	MARGIN-TOP: 40px; DISPLAY: block; PADDING-LEFT: 170px; FLOAT: left; PADDING-BOTTOM: 3px; WIDTH: 550px; BORDER-BOTTOM: #cc0000 2px dashed
}
.neirong .you .wen {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; MIN-HEIGHT: 400px; FLOAT: right; PADDING-BOTTOM: 20px; WIDTH: 710px; COLOR: #333333; PADDING-TOP: 20px
}
.bottom {
	BORDER-TOP: #cccccc 1px solid; FLOAT: left; PADDING-BOTTOM: 20px; WIDTH: 100%; PADDING-TOP: 15px
}
.divline {
	CLEAR: both; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 10px
}
.SitePath {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.Ann01 {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 40px; COLOR: #ffffff; PADDING-TOP: 5px; BACKGROUND-COLOR: #cc0000; TEXT-ALIGN: center
}
.Ann02 {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 340px; COLOR: #ffffff; PADDING-TOP: 5px; BACKGROUND-COLOR: #cc0000; TEXT-ALIGN: center
}
.Ann03 {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 100px; COLOR: #ffffff; PADDING-TOP: 5px; BACKGROUND-COLOR: #cc0000; TEXT-ALIGN: center
}
.Ann04 {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 5px; WIDTH: auto; PADDING-TOP: 5px; BACKGROUND-COLOR: #cc0000; TEXT-ALIGN: center
}
.Ann05 {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 40px; PADDING-TOP: 5px; BACKGROUND-COLOR: #f2f2f2; TEXT-ALIGN: center
}
.Ann06 {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 340px; PADDING-TOP: 5px; BACKGROUND-COLOR: #f2f2f2
}
.Ann07 {
	BORDER-RIGHT: #ffffff 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; WIDTH: 100px; PADDING-TOP: 5px; BACKGROUND-COLOR: #f2f2f2; TEXT-ALIGN: center
}
.Ann08 {
	PADDING-RIGHT: 5px; BORDER-TOP: #ffffff 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; WIDTH: auto; PADDING-TOP: 5px; BACKGROUND-COLOR: #f2f2f2; TEXT-ALIGN: center
}
.AnnShow {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; MARGIN: auto; PADDING-TOP: 10px
}
#Page {
	MARGIN: 5px 0px
}
.Page {
	BORDER-RIGHT: #f2f2f2 2px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f2f2f2 2px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN-LEFT: 1px; BORDER-LEFT: #f2f2f2 2px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #f2f2f2 2px solid
}
.Page A {
	COLOR: #333333
}
.Page_2 {
	COLOR: #99bbdd
}
.Page_1 {
	BORDER-RIGHT: #99bbdd 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #99bbdd 1px solid; PADDING-LEFT: 5px; BACKGROUND: #99bbdd; PADDING-BOTTOM: 5px; MARGIN: 1px; BORDER-LEFT: #99bbdd 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #99bbdd 1px solid
}
.divline {
	CLEAR: both; OVERFLOW: hidden; WIDTH: 100%; HEIGHT: 10px
}
.massage_box {
	Z-INDEX: 10001; FILTER: progid:DXImageTransform.Microsoft.DropShadow(); LINE-HEIGHT: 150%; POSITION: absolute; ; TOP: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ?
        documentElement.scrollTop 
		+(documentElement.clientHeight-this.clientHeight) / 2
        : document.body.scrollTop
        +(document.body.clientHeight-this.clientHeight) / 2)
}
.SinRight {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 14px; MIN-HEIGHT: 400px; FLOAT: left; PADDING-BOTTOM: 20px; WIDTH: 700px; COLOR: #333333; PADDING-TOP: 10px
}
.i_hr {
	CLEAR: both; BORDER-LEFT-COLOR: #f0f0f0; BORDER-BOTTOM-COLOR: #f0f0f0; COLOR: #f0f0f0; BORDER-TOP-COLOR: #f0f0f0; HEIGHT: 1px; BACKGROUND-COLOR: #f0f0f0; BORDER-RIGHT-COLOR: #f0f0f0
}
.g_pic LI {
	FLOAT: left; WIDTH: 150px; TEXT-ALIGN: center
}
.g_pic_table {
	BORDER-RIGHT: #d7d7d7 1px solid; BORDER-TOP: #d7d7d7 1px solid; BORDER-LEFT: #d7d7d7 1px solid; WIDTH: 114px; BORDER-BOTTOM: #d7d7d7 1px solid; HEIGHT: 79px
}
.giftmore {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #fffde8; PADDING-BOTTOM: 5px; MARGIN: 10px 0px; PADDING-TOP: 5px; BORDER-BOTTOM: #fd9a00 1px solid; TEXT-ALIGN: right
}
.g_c_list {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #efefef 1px dashed
}
.g_c_list_pic {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; FLOAT: left; MARGIN: 0px 10px 0px 0px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 120px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 85px
}
.g_c_list_tit {
	FLOAT: right; WIDTH: 555px
}
.g_c_list_con {
	FLOAT: left; COLOR: #999999
}
.g_c_list_time {
	FLOAT: right
}
.g_left {
	BORDER-RIGHT: #cccccc 1px dashed; FLOAT: left; MARGIN: 0px 10px 0px 0px; WIDTH: 300px
}
.g_left_pic {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; MARGIN: 0px 10px 0px 0px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 260px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 210px
}
.g_right {
	FLOAT: left
}
#slist {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; CURSOR: pointer; PADDING-TOP: 1px
}
#slistNum {
	FLOAT: right; COLOR: green
}
#clearboth {
	CLEAR: both; VISIBILITY: hidden
}
