.text {
	FONT-SIZE: 14px; COLOR: #4f4f4f; FONT-FAMILY: tahoma
}
.pol {
	FONT-SIZE: 14px; COLOR: #ffffff; FONT-FAMILY: arial
}
.l1 {
	COLOR: #ff9300
}
.l11 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #ff9300
}
.l2 {
	COLOR: #a6c402
}
.l22 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #a6c402
}
.l3 {
	COLOR: #01a9ba
}
.l33 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #01a9ba
}
.l4 {
	COLOR: #dc629e
}
.l44 {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #dc629e
}
.l5 {
	FONT-SIZE: 14px; COLOR: #74b2eb
}
.tf {
	BORDER-RIGHT: #707070 1px solid; BORDER-TOP: #707070 1px solid; FONT-SIZE: 14px; BORDER-LEFT: #707070 1px solid; WIDTH: 133px; BORDER-BOTTOM: #707070 1px solid; FONT-FAMILY: tahoma; HEIGHT: 16px
}
.ta {
	BORDER-RIGHT: #707070 1px solid; BORDER-TOP: #707070 1px solid; FONT-SIZE: 14px; BORDER-LEFT: #707070 1px solid; WIDTH: 133px; BORDER-BOTTOM: #707070 1px solid; FONT-FAMILY: tahoma; HEIGHT: 101px
}
